# Visual Studio cache directory
.vs/

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

.utmp/
*.log

*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd

.DS_Store
Thumbs.db

*.blob

# Burst compiler debug info
*_BurstDebugInformation_DoNotShip/